.warnings-badge {
	display: inline-block;
	span {
		color: #FAFAFA;
		&.warning-alarm {
			background-color: #E60017;
		}
		&.warning-info {
			background-color: #3174AF;
		}
		&.warning-warn {
			background-color: #A36519;
		}
	}
}