.nav-tabs {
    li span.warning-alarm, li span.warning-alarm:hover {
        background-color: #CC0014;
        color: #e3e3e3;
    }

    li.active span.warning-alarm, li.active span.warning-alarm:hover {
        color: #fefefe;
        border-color: #D10015;
    }

    li span.warning-info, li span.warning-info:hover {
        background-color: #2C679B;
        color: #e3e3e3;
    }

    li.active span.warning-info, li.active span.warning-info:hover {
        color: #fefefe;
        border-color: #2D6A9F;
    }

    li span.warning-warn, li span.warning-warn:hover {
        background-color: #A36519;
        color: #FAFAFA;
    }

    li.active span.warning-warn, li.active span.warning-warn:hover {
        color: #fefefe;
        border-color: #d82;
    }
}